body{
	padding: 0;
	margin: 0;
	font-family: 'Courier New', monospace;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: #2c3e4f;
	flex-direction: column;
}

.time {
	font-size: 150px;
	color: #ffffff;
}

.button {
margin-top: 50px;
}

.btn {
	padding: 10px 20px;
	font-size: 18px;
	margin: 10px 16px;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 4px;
	cursor: pointer;
	width: 100px;
	font-weight: 500;
	transition: 0.5s;
}

#start {
	background-color: rgb(77, 158, 77);
}

#start:hover {
	background-color: green;
}

#stop {
	background-color: rgb(106, 168, 207);

}

#stop:hover {
	background-color: rgb(12, 120, 187);
}

/* Media Queiries */
@media screen and (max-width : 700px) {
	.time {
		font-size: 60px;
		color: #ffffff;
	}

	.buttons {
		width: 90%;
		text-align: center;
		margin-top: 40px;
	}

	.btn {
		font-size: 18px;
		margin: 7px 10px;
		width: 75%;
	}

	.time-container {
		margin-top: -50px;
	}
}
